/* CSS RESET START */


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* CSS RESET END */

:root {
  --main-clr: #201335;
  --main-clr2: #4F4789;
  --secondary-clr: #FFB17A;
  --secondary-clr2: #FCE762;
  --secondary-clr2-hover: #ecd959;
  --cell-clr: #ffffff;
  --win-clr: #6a994e;
  --win-clr-hover: #6a994ebb;
  --lose-clr: #ae2012;
  --lose-clr-hover: #ae1f12bb;
  --tie-clr: #36213e;
  --tie-clr-hover: #36213ebb;
  --cell-hover: #4F4789;
}

.lightmode {
  --main-clr: #f9f7f3;
  --main-clr2: #b5e2fa;
  --secondary-clr: #ff9500;
  --secondary-clr2: #f7a072;
  --secondary-clr2-hover: #ffdab9;
  --cell-clr: #000000;
  --win-clr: #a7c957;
  --win-clr-hover: #96b64d;
  --lose-clr: #e5383b;
  --lose-clr-hover: #d43335;
  --tie-clr: rgba(0, 0, 0, 0.1);
  --tie-clr-hover: #c6c7c4;
  --cell-hover: rgba(0, 0, 0, 0.1);
}

#light-icon {
  display: none;
}

.lightmode #light-icon {
  display: block;
}

.lightmode #mode-switch:hover {
  background-color: #201335;
  fill: #FCE762;
  border: #FCE762;
  box-shadow: 0px 0px 10px #201335; 
}

.lightmode #dark-icon {
  display: none;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  color: var(--cell-clr);
  padding: 10px 0;
}

#mode-switch {
  background-color: var(--main-clr);
  border: 2px solid var(--secondary-clr);
  box-shadow: 0px 0px 10px var(--secondary-clr);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 20px;
  right: 50px;
  fill: var(--secondary-clr);
}

#mode-switch:hover {
  cursor: pointer;
  background-color: var(--secondary-clr2);
  fill: var(--main-clr);
  border: var(--main-clr);
  box-shadow: 0px 0px 10px var(--secondary-clr2);
}

header h1 {
  background-color: var(--main-clr);
  padding: 10px;
  border: 2px solid var(--secondary-clr);
  box-shadow: 0px 0px 10px var(--secondary-clr);
}

main {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--main-clr2);
}

.container {
  width: 700px;
}

.outer-part {
  background-color: var(--secondary-clr);
  padding: 25px;
  height: 750px;
}

.game {
  background-color: var(--main-clr);
  height: 650px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-top: 20px;
}

.cell:nth-child(-n + 6) {
  border-bottom: 1px solid var(--cell-clr);
}

.cell:nth-child(3n + 2) {
  border-left: 1px solid var(--cell-clr);
  border-right: 1px solid var(--cell-clr);
}

.cell {
  font-size: 3rem;
  font-weight: bold;
  color: var(--cell-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell:hover {
  background-color: var(--cell-hover);
  cursor: pointer;
}

.top-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#new-round {
  border-radius: 25px;
  background-color: var(--secondary-clr2);
  border: 2px solid black;
}

#new-round:hover, .btn-group button:hover {
  background-color: var(--secondary-clr2-hover);
  cursor: pointer;
}

#player-score, #tie-score, #bot-score {
  font-weight: 600;
  font-size: 1.2rem;;
}

.scores, .new-round-btn, .btn-group {
  display: flex;
  align-items: center;
}

.scores, .btn-group {
  justify-content: space-around;
}

.new-round-btn {
  justify-content: center;
}

.btn-group button {
  background-color: var(--secondary-clr2);
}

#change-name-dialog {
  background-color: var(--secondary-clr);
  border: 8px outset white;
}

#change-name-dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#change-name-dialog form input {
  background-color: var(--main-clr2);
  color: var(--cell-clr);
}

#change-name-dialog form input:focus {
  outline: 2px solid var(--main-clr);
}

#change-name-dialog form input::selection {
  background-color: var(--secondary-clr2);
  color: var(--main-clr);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

button {
  user-select: none;
}

.win {
  background-color: var(--win-clr);
}

.win:hover {
  background-color: var(--win-clr-hover);
}

.lose {
  background-color: var(--lose-clr);
}

.lose:hover {
  background-color: var(--lose-clr-hover);
}

.tie {
  background-color: var(--tie-clr);
}

.tie:hover {
  background-color: var(--tie-clr-hover);
}