/* CSS RESET START */


/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Increase line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}


/* CSS RESET END */

:root {
  --main-clr: #201335;
  --main-clr2: #4F4789;
  --secondary-clr: #FFB17A;
  --secondary-clr2: #FCE762;
  --secondary-clr2-hover: #ecd959;
  --white-clr: #FFFDED;
}

header {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  margin-bottom: 2rem;
  color: white;
}

main {
  display: flex;
  justify-content: center;
}

body {
  background-color: var(--main-clr2);
}

.container {
  width: 700px;
}

.outer-part {
  background-color: var(--secondary-clr);
  padding: 25px;
  height: 750px;
}

.game {
  background-color: var(--main-clr);
  height: 650px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  margin-top: 20px;
}

.cell:nth-child(-n + 6) {
  border-bottom: 1px solid white;
}

.cell:nth-child(3n + 2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.cell {
  font-size: 3rem;
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.cell:hover {
  background-color: var(--main-clr2);
  cursor: pointer;
}

.top-part {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#new-round {
  border-radius: 25px;
  background-color: var(--secondary-clr2);
  border: 2px solid black;
}

#new-round:hover, .btn-group button:hover {
  background-color: var(--secondary-clr2-hover);
  cursor: pointer;
}

#player-score, #tie-score, #bot-score {
  font-weight: 600;
  font-size: 1.2rem;;
}

.scores, .new-round-btn, .btn-group {
  display: flex;
  align-items: center;
}

.scores, .btn-group {
  justify-content: space-around;
}

.new-round-btn {
  justify-content: center;
}

.btn-group button {
  background-color: var(--secondary-clr2);
}

#change-name-dialog {
  background-color: var(--secondary-clr);
  border: 8px outset var(--white-clr);
}

#change-name-dialog form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#change-name-dialog form input {
  background-color: var(--main-clr2);
  color: var(--white-clr);
}

#change-name-dialog form input:focus {
  outline: 2px solid var(--main-clr);
}

#change-name-dialog form input::selection {
  background-color: var(--secondary-clr2);
  color: var(--main-clr);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}